<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reset-password</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/resetpass.css">
</head>

<body>
    <div class="container-fluid">
        <div class="image">
            <div id="carouselExampleCaptions" class="carousel slide carousel-fade " data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="./images/Grow-Trees-On-the-path-to-environment-sustainability-login.png"
                            class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <p class="ih1">1Sed ut perspiciatis unde omnis iste natus voluptatem.</p>
                            <p class="ih2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                                irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                                deserunt mollit anim id est laborum.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="./images/Grow-Trees-On-the-path-to-environment-sustainability-login.png"
                            class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <p class="ih1">2Sed ut perspiciatis unde omnis iste natus voluptatem.</p>
                            <p class="ih2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                                irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                                deserunt mollit anim id est laborum.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="./images/Grow-Trees-On-the-path-to-environment-sustainability-login.png"
                            class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <p class="ih1">3Sed ut perspiciatis unde omnis iste natus voluptatem.</p>
                            <p class="ih2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                                irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                                deserunt mollit anim id est laborum.</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="prev">
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="next">
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="reset">
            <p class="p1">New Password</p>
            <p class="p2">Please enter a new password in the fields below.</p>
            <form action="">
                <div class="form-group">
                    <label for="Password1">New Password</label>
                    <input type="password" class="form-control" id="Password1" placeholder="********">
                </div>
                <div class="form-group">
                    <label for="Password2">Confirm New Password</label>
                    <input type="password" class="form-control" id="Password2"
                        placeholder="********">
                </div>
                <button type="submit" class="btn ">Change Password</button>
            </form>
            <p class="p3"><a id="a4" href="#">Login</a> </p>
            <p class="p4">Privacy Policy</p>
        </div>
    </div>
     
        
      
    
   
    <script src="js/bootstrap.bundle.js"></script>
</body>

</html>
